<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@using Models.Entity;
@using PagedList
@using PagedList.Mvc
@using Models.Dto;

@model IPagedList<Models.Dao.HocSinh_DTUT_Dto>

@{
    List<Truong> lstTruong = ViewBag.lstTruong;
    List<DiaChi> lstTinh = ViewBag.lstTinh;
    List<TenKieuDoiTuongUuTien> lstDTUT = ViewBag.lstDoiTuongUuTien;
    //List<HocSinh> lstDS = ViewBag.lst;
    //List<HocSinh> Lss = ViewBag.lss;
    List<BaoCaoSoLuongTheoDTUT_Dto> lst = ViewBag.ThongKe;



}
<link href="~/Assets/Frontend/css/file.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <p style="font-size:25px;">Hồ sơ dự tuyển</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <button  type="button" class="btn btn-primary"  data-target="#exampleModal" id="new-registration" onclick="ThemMoiHS()">
                    Thêm hồ sơ
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content" style="width:1200px;margin-left:-280px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> PHIẾU ĐĂNG KÝ TUYỂN SINH VÀO LỚP 10 THPT</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" >&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <link href="~/Assets/Frontend/css/file.css" rel="stylesheet" />

                                <style>
                                    .nopadding {
                                        padding-left: 5PX !important;
                                        padding-right: 5PX !important;
                                    }
                                </style>

                                <div class="modal fade" id="mdDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Xóa hồ sơ</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row" style="padding-left:15px">
                                                    <input type="hidden" id="hdID_Del" value="0" />
                                                    Bạn có chắc chắn muốn xóa xóa hồ sơ này hay không?
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                <button type="button" @*onclick="" Bạn có muốn xóa bản ghi này?",Delete()"*@ class="btn btn-primary">Đồng ý</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container" style="border:1px solid black;padding-top:14px;padding-bottom:14px;">
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="activity">
                                            <div class="col-md-12">
                                                <p class="Ten" style="text-align:center">PHIẾU ĐĂNG KÝ TUYỂN SINH VÀO LỚP 10 THPT</p>
                                                <p class="name" style="text-align:center;">(Thí sinh cần đọc kỹ thông tin trước khi điền)</p>

                                                <h2 style="font-size:18px">I.THÔNG TIN CÁ NHÂN</h2>
                                                <!--<img src="/assets/Images/Avatars/images.png" class="profile-user-img img-responsive img-circle" alt="User profile picture">-->


                                                <input id="hdID" type="hidden" value="0" />
                                                <div class=" col-md-4">
                                                    <div class="col-md-12">
                                                        <label>Họ và Tên:(Viết chữ in hoa)</label>
                                                        <input class="form-control" type="text" id="txtHoTen" placeholder="Ghi rõ họ tên..." />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="space" style="margin-top:12px">Email:</label>
                                                        <input class="form-control" type="email" id="txtEmail" value="" placeholder="Ghi rõ Email..." />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="space" style="margin-top:12px">Ngày/Tháng/Năm:</label>
                                                        <input class="form-control" type="date" id="txtNgaySinh" name="birthday">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button id="ddlDTUT" type="button" class="form-control " style="margin-top:40px; width:91%;" data-target="#returnforms" onclick="DoiTuongUT()">
                                                            Đối tượng ưu tiên
                                                        </button>
                                                        <div id="DIV_UT">
                                                            <table id="hideDTUT" style="display:none">
                                                                <thead>

                                                                </thead>
                                                                <tbody >
                                                                    @foreach (var item in lstDTUT)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" value="@item.ID" class="Checkss" name="checkDTUT" />
                                                                            </td>

                                                                            <td>@item.KieuDoiTuongUuTien</td>
                                                                        </tr>
                                                                        
                                                                    }
                                                                </tbody>

                                                            </table>
                                                        </div>

                                                        <table id="iddTUT" class="table table-bordered table-striped " style="width:91%">

                                                        </table>
                                                       
                                                    </div>


                                                </div>

                                                <div class="col-md-8" style="margin-top:13px;">
                                                    <div class="col-md-6" style="margin-top:-14px;margin-left:-10px;">
                                                        <label>Giới tính:</label>
                                                        <select class="form-control custom-select-sm md-3 " style="max-width:unset;width:90px;" id="ddlGioiTinh">

                                                            <option value="1">Nam</option>
                                                            <option value="2">Nữ</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6" style="margin-top:-15px;">
                                                        <label>Dân tộc</label>
                                                        <select class="form-control custom-select-sm md3" style="max-width:unset;width:110px;" id="ddlDanToc">
                                                            <option value="Kinh">Kinh</option>
                                                            <option value="Mông">Mông</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="add" style="margin-left:-10px;margin-top:14px;">Hộ khẩu thường trú:</label>
                                                        <div class="row" style="margin-top:0px;">
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3" id="ddlTinhThuongTru" onchange="ChangeddlTinhA(0)">
                                                                   
                                                                    @foreach (var item in lstTinh)
                                                                    {
                                                                        <option value="@item.ID">@item.TenDiaChi</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3" id="ddlHuyenThuongTru" onchange="ChangeddlHuyenA()">
                                                                    
                                                                    <option selected class="form-control">Huyện thường trú</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3" id="ddlXaThuongTru">
                                                                    <option selected class="form-control">Xã thường trú</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style="margin-left:-8px;">
                                                        <label style="margin-top:11px;">Ghi rõ số nhà, tên đường:</label>
                                                        <input style="max-width:unset; width:698px;" class="form-control" type="text" id="txtDiaChiThuongTru" value="" placeholder="Ghi rõ số nhà, số đường nếu có..." />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="add" style="margin-top:13px;margin-left:-6px;">Địa chỉ tạm trú:</label>
                                                        <div class="row">
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3 " id="ddlTinhTamTru" onchange="ChangeddlTinhA(1)">
                                                                    @foreach (var item in lstTinh)
                                                                    {
                                                                        <option value="@item.ID">@item.TenDiaChi</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3 " id="ddlHuyenTamTru" onchange="ChangeddlHuyenB()">
                                                                    <option selected class="form-control">Huyện tạm trú</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 nopadding">
                                                                <select class="form-control custom-select-sm md-3 " id="ddlXaTamTru">
                                                                    <option selected class="form-control">Xã tạm trú</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-12" style="margin-left:-8px;">
                                                                <label style="margin-top:11px;">Ghi rõ số nhà, tên đường:</label>
                                                                <input style="max-width:unset; width:698px;" class="form-control" type="text" id="txtDiaChiTamTru" value="" placeholder="Ghi rõ số nhà, số đường nếu có..." />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h2 style="font-size:18px">II.THÔNG TIN NGƯỜI GIÁM HỘ</h2>
                                                @*<div class="col-md-4">*@
                                                <div class="col-md-4">
                                                    <label style="margin-top:11px; margin-left:12px;">Tên người giám hộ:</label>
                                                    <input class="form-control" type="text" id="txtTenNguoiGiamHo" placeholder="Ghi rõ họ tên..." style="margin-left:17px;" />
                                                </div>
                                                <div class="col-md-4" style="margin-top:12px" ;>
                                                    <label>Email người giám hộ:</label>
                                                    <input class="form-control" type="email" id="txtEmailNguoiGiamHo" placeholder="Ghi rõ Email..." />
                                                </div>
                                                <div class="col-md-4" style="margin-top:12px" ;>
                                                    <label style="margin-left:54px;">Số điện thoại liên hệ:</label>
                                                   
                                                    <input class="form-control" type="number"  id="txtSoDienThoaiLienHe" placeholder="Ghi rõ số điện thoại..." style="margin-left:57px;" />
                                                    @*</div>*@
                                                </div>
                                                <div class="col-md-8" style="margin-left:10px;">

                                                    <div class="col-md-12" style="margin-top:11px;margin-left:-8px;">
                                                        <label>Nghề nghiệp:</label>
                                                        <input class="form-control" type="text" id="txtNgheNghiep" name="name" value="" placeholder="Ghi rõ nghề nghiệp..." />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2 style="font-size:18px">III.THÔNG TIN CHA MẸ:</h2>
                                                        <div class="col-md-4">
                                                            <div class="col-md-12">
                                                                <label>Họ tên mẹ:</label>
                                                                <input class="form-control" type="text" id="txtTenMe" placeholder="Ghi rõ họ tên..." />
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label style="margin-top:15px;">Họ tên bố:</label>
                                                                <input class="form-control" type="text" id="txtTenBo" placeholder="Ghi rõ họ tên..." />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8" style="margin-left:-18px;">
                                                            <div class="col-md-6">
                                                                <label>Nghề nghiệp mẹ:</label>
                                                                <input class="form-control" type="text" id="txtNgheNghiepMe" name="name" value="" placeholder="Nhập đúng thông tin..." />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label style="margin-left:55px">Số điện thoại mẹ:</label>
                                                                <input class="form-control" type="number" id="txtSoDienThoaiMe" name="name" value="" placeholder="Nhập số điện thoại..." style=" margin-left:55px" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label style="margin-top:15px;">Nghề nghiệp bố:</label>
                                                                <input class="form-control" type="text" id="txtNgheNghiepBo" name="name" value="" placeholder="Nhập đúng thông tin..." />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label style="margin-top: 16px; margin-left: 55px;">Số điện thoại bố:</label>
                                                                <input class="form-control" type="number" id="txtSoDienThoaiBo" name="name" value="" placeholder="Nhập số điện thoại..." style="margin-left: 55px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h2 style="font-size:18px">IV.ĐĂNG KÝ NGUYỆN VỌNG THI TUYỂN:</h2>
                                                <div class="col-md-4">
                                                    <div class="col-md-12">
                                                        <label style="font-size:22px" ;> <u>Nguyện vọng 1:</u> </label>
                                                        <select class="form-control custom-select-sm md-3 " id="ddlNguyenVong1" onchange="ChangeddlTruong()">
                                                            <option value="">--Chưa chọn trường--</option>
                                                            @foreach (var item in lstTruong)
                                                            {
                                                                <option value="@item.ID">@item.Tentruong</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12" style="margin-top:18px;">
                                                        <label style="font-size:22px" ;> <u>Nguyện vọng 2:</u> </label>
                                                        <select class="form-control custom-select-sm md-3 " id="ddlNguyenVong2">
                                                            <option value="">--Chưa chọn trường--</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-md-5">
                                                    <div class="col-md-12">
                                                        <label>File chứa các thông tin liên quan:</label>
                                                        <input class="form-control" type="file" id="uploadFile" name="file" style=" max-width:unset;" multiple>

                                                        <table id="itemFile" class="table table-bordered table-striped">

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:20px;" class="col-md-12">
                                                <div class="col-md-8">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>*@
                                @*<script>
                                        $(document).ready(function () {
                                            alert("ok");
                                        });
                                    </script>*@

                            </div>
                            <p style="margin-left:16px;"><b><u>Note:</u></b>(Thi sinh phải khai báo đầy đủ, chính xác thông tin)</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Close()">Đóng</button>

                                <button id="txtLHS" class="btn btn-success" type="submit" value="submit" style="background-color: #1e61b1!important;color:white" onclick="LuuHoSo()">Lưu hồ sơ</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" @*data-toggle="modal"*@ data-target="#returnform" onclick="TraAllHS()">
                    Trả hồ sơ
                </button>

                <!-- Modal -->
                <div class="modal fade" id="returnform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <div @*class="modal-body"*@>
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <input id="hdID_A" type="hidden" value="0" />
                                    <div class="col-md-12">
                                        <h2 style="text-align:center;">Lý do trả lại</h2>
                                        <textarea class="form-control" type="text" name="name" style="max-width:unset;resize:vertical;max-height:240px" id="txtNoiDung"> </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top:25px;">Xóa</button>
                                <button type="button" class="btn btn-primary" style="margin-top:25px;" onclick="SavesContent()">Gửi</button>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-primary" onclick="DuyetAll()">Duyệt hồ sơ</a>
                <a href="#" class="btn btn-primary" onclick="XoaAll()">Xóa hồ sơ</a>

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="search-container" style="float: right; padding: 6px 10px; margin-top: 8px; margin-right: 16px;font-size: 17px; border: none; cursor: pointer; float: none; display: block; text-align: left; width: 100%; margin: 0; padding: 14px; ">
                    <form action="/action_page.php">
                        <div style="display:flex">
                            <!--Nhập từ khóa vào ô tìm kiếm sau đó nhân Enter để tìm  kết quả-->
                            <input id="txtSearch" type="text" onkeypress="return runSearch(event) " placeholder="Tìm kiếm.." value="@ViewBag.Search">
                            <a class="btn btn-primary btn-flat" onclick="Search()">Tìm kiếm</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="checkall" id="checkall" />
                        </th>
                        <th>Họ tên học sinh</th>
                        <th>Mã học sinh</th>
                        <th>Mã hồ sơ</th>
                        <th>Giới tính</th>
                        <th>Tên đối tượng ưu tiên</th>
                        <th>Trạng thái hồ sơ</th>
                        <th style="width:15%;">Chức năng</th>
                    </tr>
                </thead>
                <tbody id="tableAll">

                    @if (Model != null)
                    {

                        foreach (var item in Model)
                        {
                            <tr data-Id="@item.ID" class="delete-item">
                                <td>
                                    <input type="checkbox" name="checkAll" value="@item.ID" class="Checks" />
                                </td>
                                <td>@item.TenHS</td>
                                <td>
                                    123
                                </td>
                                <td>DC21</td>
                                <td>
                                    @{string str = ""; if (item.GioTinh == true) { str = "Nam"; } else { str = "Nữ"; }
                                    }@str
                                </td>
                                <td>

                                    @*TODO: đọc hiểu*@
                                    @string.Join(", ", item.DanhSachDTUT.Select(s => s.KieuDoiTuongUuTien))
                                    
                                </td>


                                <td>
                                    @{ string mk = ""; if (item.TrangThai == 1) { mk = "Chưa duyệt"; }
                                    }
                                    @mk
                                </td>


                                <td>

                                    <button style='font-size: 12px ' data-toggle="tooltip" title="Xem" onclick="XemHS(@item.ID)">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>

                                    <button style='font-size: 12px' data-toggle="tooltip" title="Xóa" onclick="XoaHS(@item.ID)">
                                        <i class='fas fa-trash-alt'></i>
                                    </button>



                                    <button style='font-size: 12px' data-toggle="tooltip" title="Sửa" onclick="SuaHS(@item.ID)">
                                        <i class='fas fa-wrench'></i>
                                    </button>

                                    <button style='font-size: 12px ' data-toggle="tooltip" title="Duyệt" onclick="DuyetHS(@item.ID)">
                                        <i class="fa-solid fa-file-circle-check"></i>
                                    </button>



                                    <button style='font-size: 12px;' data-toggle="tooltip" title="Trả lại" onclick="TraHS(@item.ID)">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </button>

                                </td>


                            </tr>
                        }
                    }


                </tbody>
            </table>

            <br />

            @Html.PagedListPager(Model, page => Url.Action("Index", new { ViewBag.Search, page }))

        </div>
        <div>
            <button type="button" class="btn btn-primary" style="margin-left: 10px; background-color: #3c8dbc" data-target="#returnforms" onclick="ThongKe()">Thống kê đối tượng ưu tiên</button>
        </div>

        <div>
            <table id="example" class="table table-bordered table-hover" style="margin-top:50px; display: block;">
                <thead>
                    <tr>
                        <td><b>Đối tượng ưu tiên</b></td>
                        <td style="width:70%"><b>Số lượng</b></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var s in lst)
                    {

                        if (s.TenKieuDoiTuongUuTien != null)
                        {
                            <tr>
                                <td>
                                    @s.TenKieuDoiTuongUuTien
                                </td>

                                <td>@s.SoLuong</td>
                            </tr>
                        }
 
                    }


                </tbody>
            </table>
        </div>
        @section scripts {
            <script src="~/Scripts/AdminJS/ChucNang.js"></script>
            <script src="~/Scripts/AdminJS/ThongTin.js"></script>
        }
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </div>

</div>
